.text-black {
  font-weight: 900!important;
}

.text-bold {
  font-weight: 700!important;
}

.text-semibold {
  font-weight: 600!important;
}

.text-medium {
  font-weight: 500!important;
}

.text-normal {
  font-weight: 400!important;
}

.text-light {
  font-weight: 300!important;
}

.text-primary {
  color: $primary-color!important;
}

.text-secondary {
  color: $secondary-color!important;
}
.text-second-bg{
  color: $secondary-bg!important;
}

.text-orange{
  color: $orange-color!important;
}

.text-yellow{
  color: $yellow-color!important;
}

.text-center{
  text-align: center!important;
}