.dropdown-menu {
  box-shadow: 0 5px 20px 0 rgba(26,26,26,.1);
  display: block;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  @include default-transition();

  > li {
    > a {
      padding: 8px 16px;
    }
  }
}

.dropdown.open {
  .dropdown-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
@media(max-width: $screen-sm-max) {
  .dropdown-modal {
    .dropdown-menu {
      border: 0;
      position: fixed;
      top: 50%;
      left: 32px;
      right: 32px;
      transform: translateY(0);

      > li {
        > a {
          padding: 12px 16px;
        }
      }
    }

    &.open {
      .dropdown-menu {
        transform: translateY(-50%);
      }
    }
  }
}
