.btn,
button {
  outline: none !important;
}

.btn-positive {
  @include button-variant($light-color, $primary-color, $primary-color);
}

.btn-outline {
  @include button-variant($light-color, transparent, $light-color);
}

.btn-negative {
  @include button-variant($text-color, $light-color, $light-color);
}

.dropdown-backdrop {
  @media(max-width: $screen-sm-max) {
    background-color: transparentize($color: $dark-color, $amount: 0.5);
  }
}

.overflow-hidden {
  overflow: hidden;
}

body {
  overflow-x: hidden;
  background: $body-background;
}

.container {
  max-width: 100%;
}

.form-control {
  box-shadow: none;
}

.wrapper{
  width: 95%;
  max-width: 1366px;
  display: block;
  margin: 101px auto;
  overflow: hidden;
  border-radius: 11px;
  border: 1px solid $border-color-2;
  box-shadow: 0 0 10px 3px $border-color-2;
  background: $light-color;
}
.main-content{
  min-height: 500px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.content:after,.page-title:after{
  clear: both;
  display: table;
  content: '';
}

.page-title{
  display: block;
  margin: 0 0 32px;

  h1{
    margin: 0;
    font-size: 26.5px;
    font-weight: 300;
    color: $secondary-color;
    text-align: center;
  }
}

.progress-step{
  display: block;
  margin: 0 0 70px;

  ul{
    display: table;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    max-width: 698px;
    width: 100%;

    li{
      float: left;
      width: 33.33333333%;
      text-align: center;
      position: relative;
      
      &:before{
        content: '';
        display: block;
        position: absolute;
        width: 50%;
        height: 2px;
        background: $border-color;
        top: 14px;
        left: 0;
        z-index: 250;
      }

      &:after{
        content: '';
        display: block;
        position: absolute;
        width: 50%;
        height: 2px;
        background: $border-color;
        top: 14px;
        right: 0;
        z-index: 200;
      }

      span{
        display: block;
        width: 30px;
        height: 30px;
        line-height: 26px;
        text-align: center;
        font-size: 14.5px;
        font-weight: 500;
        border-radius: 15px;
        border: 2px solid $border-color;
        margin: 0 auto 19px;
        position: relative;
        z-index: 250;
        background: #fff;
        @include default-transition();
        cursor: pointer;
      }

      label{
        font-weight: 400;
        font-size: 14.66px;
        color: $tertiary-color;
        margin: 0;
      }

      &.step-1{
        &::before{
          display: none;
        }
      }

      &.step-3{
        &::after{
          display: none;
        }
      }

      &.active{
        span{
          background: $primary-color;
          border-color: $primary-color;
          color: $light-color;
          width: 40px;
          height: 40px;
          line-height: 36px;
          border-radius: 20px;
          margin-top: -5px;
          margin-bottom: 14px;
        }

        label{
          font-weight: 500;
          color: $text-color;
        }

        &.step-2{
          &:before{
            background: $primary-color;
          }
        }

        &.step-3{
          &:before{
            background: $primary-color;
          }
        }

        &.success{
          span{
            background: $light-color;
            color: $primary-color;
            width: 30px;
            height: 30px;
            line-height: 26px;
            margin-top: 0;
          }

          label{
            font-weight: 400;
            color: $border-color;
          }

          &.step-1{
            &:after{
              background: $primary-color;
            }
          }

          &.step-2{
            &:after,&:before{
              background: $primary-color;
            }
          }
        }
      }

      &:hover{
        span{
          background: $primary-color;
          border-color: $primary-color;
          color: $light-color;
        }
      }
    }
  }
}

.form-group{
  &.icon-input{
    input.form-control,select.form-control{
      padding-left: 66px;
      padding-right: 15px;
    }
  }

  input.form-control,select.form-control{
    height: 55px;
    color: $secondary-color;
    font-size: 17.5px;
    border-radius: 30px;
  }

}

.btn-yellow{
  border-color: $yellow-color;
  background: $yellow-color;
  box-shadow: 0px 4px 0 0px #d7c53b;
  color: $secondary-color;
  @include default-transition();

  &:hover,&:focus,&:active{
    border-color: $primary-color;
    background: $primary-color;
    color: $light-color;
    box-shadow: 0px 4px 0 0px #3e97a4;
  }
}

.btn-primary{
  box-shadow: 0px 4px 0 0px #129ea2;
  color: $light-color;
  @include default-hover();
}

.modal-header{
  border-bottom: 0 none;
  .modal-title{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: $primary-color;
  }
}

.modal-footer{
  border-top: 0 none;
  text-align: center;
}

@media (min-width: 768px){
  .modal-dialog{
    margin: 120px auto 30px;
  }
}


::placeholder {
  color: $tertiary-color;
  opacity: 1;
}

:-ms-input-placeholder {
  color: $tertiary-color;
}

::-ms-input-placeholder { 
  color: $tertiary-color;
}

.mgt-10{
  margin-top: 10px!important;
}
.mgt-15{
  margin-top: 15px!important;
}
.mgt-20{
  margin-top: 20px!important;
}

ul.reset{
  list-style: none;
  margin: 0;
  padding: 0;
}


.btn-full{
  max-width: none;
  width: 100%;
}
@media screen and (max-width: $screen-sm-min){
  .btn-xs-full{
    width: 100%;
    display: block;
    margin: 0 0 10px;
  }
}