.btn,
button {
  outline: none !important;
}

.btn-positive {
  @include button-variant($light-color, $primary-color, $primary-color);
}

.btn-outline {
  @include button-variant($light-color, transparent, $light-color);
}

.btn-negative {
  @include button-variant($text-color, $light-color, $light-color);
}

.dropdown-backdrop {
  @media(max-width: $screen-sm-max) {
    background-color: transparentize($color: $dark-color, $amount: 0.5);
  }
}

.overflow-hidden {
  overflow: hidden;
}

body {
  overflow-x: hidden;
  background: $body-background;
}

.container {
  max-width: 100%;
}

.form-control {
  box-shadow: none;
}

.wrapper{
  width: 90%;
  max-width: 1366px;
  display: block;
  margin: 101px auto;
  overflow: hidden;
  border-radius: 11px;
  border: 1px solid $border-color-2;
  box-shadow: 0 0 10px 3px $border-color-2;
  background: $light-color;

  .main-content{
    min-height: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.content:after{
  clear: both;
  display: table;
  content: '';
}