{% extends "layouts/default.njk" %}
{% set pageTitle = 'Compra Paquetes' %}
{% set bodyClasses = 'compra-index-index' %}
{% block content %}
  <div class="main-content compra-page step-3">
      <div class="container">
          demo content
      </div>
  </div>
{% endblock %}
