{% extends "layouts/default.njk" %}
{% set pageTitle = 'Recargas Step 3' %}
{% set bodyClasses = 'recargas-index-index' %}
{% block content %}
  <div class="main-content recargas-page step-3">
      <div class="container">
            <div class="page-title">
                <h1>Recargas</h1>
            </div>
            <div class="progress-step">
                <ul>
                    <li class="step-1 active success">
                        <span>1</span>
                        <label>Monto de recarga</label>
                    </li>
                    <li class="step-2 active success">
                        <span>2</span>
                        <label>Infomación de pago</label>
                    </li>
                    <li class="step-3 active">
                        <span>3</span>
                        <label>Recarga satisfactoria</label>
                    </li>
                </ul>
            </div>
            <div class="step-wrapper">
                <div class="step-title">
                    <img alt="Step Success" src="assets/images/bkg-checked.png" />
                    <h2>iFelicidades! Tu recarga se realizo con exito</h2>
                </div>
                <div class="step-content">
                    <div class="review-info">
                        <div class="info">
                            <ul class="row">
                                <li class="col-xs-12 col-sm-6">
                                    <label>Nombre:</label>
                                    <span>Enrique Santillana</span>
                                </li>
                                <li class="col-xs-12 col-sm-6">
                                    <label>Numero:</label>
                                    <span>961930499</span>
                                </li>
                                <li class="col-xs-12 col-sm-6">
                                    <label>Numero de orden:</label>
                                    <span>0000002340248</span>
                                </li>
                                <li class="col-xs-12 col-sm-6">
                                    <label>Monto recargado:</label>
                                    <span class="text-bold">S/5.00</span>
                                </li>
                            </ul>
                        </div>
                        <div class="notice">
                            <p>Recibiras un SMS y un correo electronice con la confirmacion de tu recarga</p>
                            <a href="maito:example@example.com" title="Send to mail: enrique.santillana@gmail.com">enrique.santillana@gmail.com</a>
                        </div>
                        <div class="group-btns">
                            <a href="#" title="REALIZA OTRA RECARGA" class="btn btn-yellow btn-xs-full">REALIZA OTRA RECARGA</a>
                        </div>
                    </div>
                </div>
            </div>
      </div>
  </div>
{% endblock %}
