{% extends "layouts/default.njk" %}
{% set pageTitle = 'Recargas' %}
{% set bodyClasses = 'recargas-index-index' %}
{% block content %}
  <div class="main-content">
      <div class="container">
          demo content
      </div>
  </div>
{% endblock %}
