.compra-page{
    .progress-step{
        margin: 0 0 40px;
    }
    .step-wrapper{
        margin: 0 0 40px;

        .form-group.icon-phone-number{
            width: 90%;
            max-width: 780px;
            border: 1px solid $border-color-2;
            box-shadow: 0 0 5px 1px $border-color-2;
            background: #f9f9f9;
            padding: 37px 20px;
            text-align: center;
            border-radius: 10px;

            @media screen and (max-width: $screen-xs-max){
                padding: 37px 30px;
                width: 100%;
            }

            input.form-control{
                display: inline-block;
                border: 2px solid $primary-color;
                vertical-align: top;

                @media screen and (max-width: $screen-xs-max){
                    display: block;
                    margin: 0 auto 13px;
                }
            }

            button.btn{
                display: inline-block;
                padding: 12px 20px;
                margin: 0 0 25px 18px;
                vertical-align: top;

                @media screen and (max-width: $screen-xs-max){
                    display: block;
                    margin: 0 auto 25px;
                }

            }
        }

        .noti{
            margin: 0;
            color: $secondary-color;
            text-align: center;
            display: block;
            clear: both;

            span{
                text-transform: uppercase;
                color: $primary-color;
                font-weight: 500;
            }
        }

        .step-note{
            display: block;
            padding: 20px 15px;
            max-width: 1116px;
            margin: 0 auto;
            border: 2px solid $primary-color;
            border-radius: 10px;

            @media screen and (max-width: $screen-xs-max) {
                padding: 20px 40px;
            }

            .col-text{
                font-size: 17px;
                text-align: left;
                color: $secondary-color;

                .col-img{
                    height: 44px;
                    line-height: 44px;
                    float: left;
                    margin: 0 25px 0 -25px;
                }

            }

            .col-btn{
                .btn{
                    padding: 11px 20px;
                    max-width: 148px;
                }
            }

            @media screen and (min-width: $screen-md-max){
                .col-text{
                    width: 41%;
                    padding-left: 47px;
                    padding-right: 47px;

                    &.col-1{
                        border-right: 2px solid $border-color;
                    }

                    &.col-2{
                        padding-right: 15px;
                    }
                }
                .col-btn{
                    width: 18%;
                }
            }

            @media screen and (max-width: $screen-md-max) {
                .col-text{
                    width: 40%;
                    &.col-1{
                        border-right: 2px solid $border-color;
                    }

                    .col-img{
                        margin: 0 25px 0 -2px;
                    }
                }

                .col-btn{
                    width: 20%;
                }
            }

            @media screen and (max-width: $screen-md-max) {
                .col-text{
                    width: 38%;
                }

                .col-btn{
                    width: 24%;
                }
            }

            @media screen and (max-width: $screen-xs-max) {
                .col-text{
                    width: 100%;

                    &.col-1{
                        border-right:0 none;
                        border-bottom: 2px solid $border-color;
                        padding-bottom: 15px;
                        padding-left: 0;
                        padding-right: 0;
                    }

                    .col-img{
                        margin-top: 0;
                    }

                    &.col-2{
                        padding-top: 15px;
                        padding-bottom: 15px;
                        padding-left: 0;
                        padding-right: 0;
                    }
                }

                .col-btn{
                    width: 100%;
                }
            }
        }
    }

    .mostrar-wrapper{
        .page-title{
            h1{
                color: $primary-color;
            }
        }

        .page-sub-title{
            text-align: center;
            margin: 0 0 25px;

            h4{
                margin: 0;
                font-size: 20px;
                color: $secondary-color;
                font-weight: 500;
                display: inline-block;
                line-height: 30px;

                span{
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    background: url('../images/bkg-star.png') no-repeat center scroll transparent;
                    vertical-align: middle;
                    margin-top: -7px;
                    margin-right: 13px;
                }

                &:after{
                    display: block;
                    content: '';
                    width: 54px;
                    height: 2px;
                    background: $primary-color;
                    margin: 15px auto;
                }
            }
        }
        
        .comprados-list{
            border: 2px solid #f3efd8;
            background: #fffdf1;
            padding: 35px 0 0;
            margin-bottom: 25px;

            .list-item{
                display: block;
                max-width: 1168px;
                margin: 0 auto;
                padding: 0 26px;

                .row{
                    margin-bottom: 0;
                    padding: 0;
                    list-style: none;
                    margin-left: -26px;
                    margin-right: -26px;

                    div.item{
                        margin-bottom: 35px;
                        padding-left: 26px;
                        padding-right: 26px;

                        .content{
                            border: 1px solid $border-color;
                            box-shadow: 0 0 8px 2px $border-color-2;
                            border-radius: 10px;
                            background: $light-color;
                            padding: 28px 40px;
                            text-align: center;

                            p{
                                margin: 0 0 4px;
                                font-size: 16px;

                                &.title{
                                    color: $orange-color;
                                    font-weight: 500;
                                    font-size: 21px;
                                }

                                &.sub{
                                    font-size: 17px;
                                }

                                &.price{
                                    font-size: 17px;
                                    margin: 0 0 9px;
                                }

                            }

                            .btn{
                                padding: 11px 20px;
                                display: block;
                                border-color: $primary-color;
                                border-width: 2px;
                                color: $primary-color;
                                @include default-transition();

                                &:hover,&:active,&:focus{
                                    background: $primary-color;
                                    color: $light-color;
                                }

                            }
                        }

                        &.active{
                            .content{
                                background: $primary-color;
                                border-color: $primary-color;
                                p{
                                    color: $light-color;

                                    &.title{
                                        color: $yellow-color;
                                        font-weight: 500;
                                    }

                                    &.price{
                                        span{
                                            color: $yellow-color;
                                        }
                                    }
                                }

                                .btn{
                                    &:hover,&:active,&:focus{
                                        background: $yellow-color;
                                        color: $primary-color;
                                    }
                                }
                            }
                        }
                    }

                    &.owl-carousel{
                       margin-left: 0;
                       margin-right: 0; 

                       .item{
                           width: 100%;
                           max-width: 240px;
                           display: block;
                           margin: 0 auto;
                           float: none;
                           padding: 0;
                       }

                       .owl-dots{
                           margin: 15px 0 25px;

                           span{
                               background: $border-color-2;
                               width: 18px;
                               height: 18px;

                               @media screen and (max-width: $screen-xs-min){
                                    width: 14px;
                                    height: 14px;
                                }
                           }

                           .active{
                               span {
                                   background: $secondary-bg;
                               }
                           }

                       }

                       .owl-nav{
                           margin: 0;

                           [class*='owl-']{
                               position: absolute;
                               top: 50%;
                               font-size: 14px;
                               border-radius: 0;
                               margin: -91px 0 0;
                               line-height: 1;
                               display: block;
                               overflow: hidden;
                               text-indent: -9999em;
                               width: 40px;
                               height: 75px;

                               @media screen and (max-width: $screen-xs-min){
                                    width: 28px;
                                }

                               &:hover{
                                   opacity: 0.8;
                               }
                           }

                           .owl-prev{
                                left: 0;
                                background: url("../images/slider-prev.png") no-repeat center scroll transparent;
                                background-size: contain;
                           }

                           .owl-next{
                                right: 0;
                                background: url("../images/slider-next.png") no-repeat center scroll transparent;
                                background-size: contain;
                           }
                       }
                    }
                }
            }
        }

        .paquetes-list{
            .page-sub-title{
                h4{
                    span{
                        background: url("../images/bkg-paquetes.png") no-repeat center scroll transparent;
                    }
                }
            }

            .list-item{
                padding: 0 15px;

                .tabs-select{
                    display: none;

                    @media screen and (max-width: $screen-xs-max){
                        display: block;
                        border: 2px solid $border-color-2;
                        box-shadow: 0 0 6px 1px $border-color-2;
                        width: 100%;
                        border-radius: 10px;
                        padding: 5px 20px;
                        height: 50px;
                        margin: 0 0 20px;
                        color: $secondary-color;
                    }
                }

                .nav-tabs{
                    border: 2px solid $primary-color;
                    border-radius: 10px;
                    padding: 12px;
                    max-width: 1116px;
                    margin: 0 auto 23px;

                    @media screen and (max-width: $screen-xs-max){
                        display: none;
                    }
                    

                    li{
                        margin: 0;

                        a{
                            background: $light-color;
                            color: $secondary-color;
                            border: 0 none;
                            @include default-hover();
                            margin: 0 25px 0;
                            padding: 15px 26px;
                            border-radius: 10px;
                            font-weight: 500;

                            @media screen and (max-width: $screen-md-min) {
                                margin: 0 10px 0;
                                padding: 10px;
                            }
                            @media screen and (max-width: $screen-xs-max) {
                                margin: 0 10px 0;
                                padding: 10px;
                            }
                        }

                        &.active,&:hover{
                            a{
                                background: $primary-color;
                                color: $light-color;
                            }
                        }

                        &:after{
                            content: '';
                            width: 2px;
                            height: 23px;
                            background: $border-color;
                            top: 50%;
                            right: 0;
                            margin-top: -11.5px;
                            position: absolute;
                        }

                        &:first-child{
                            a{
                                margin-left: 0;
                            }
                        }

                        &:last-child{
                            a{
                                margin-right: 0;
                            }

                            &:after{
                                display: none;
                            }
                        }
                    }
                }

                .tab-content{
                    display: block;

                    .table-border{
                        display: block;
                        max-width: 1116px;
                        margin: 0 auto 30px;
                        border: 2px solid $border-color-2;
                        border-radius: 10px;
                        overflow: hidden;

                        @media screen and (max-width: $screen-xs-max){
                            border: 0 none;
                        }

                    }

                    .table{
                        border: 0 none;
                        thead tr th, thead tr td{
                            padding: 13px 27px;
                            color: $secondary-color;
                            font-weight: 500;
                            text-align: left;

                            &:last-child{
                                border-right: 0 none;
                            }
                        }
                        tbody tr td, tfoot tr td{
                            padding: 7px 27px;
                            &:last-child{
                                border-right: 0 none;
                            }
                        }

                        td.td-1,th.td-1{
                            width: 20%;
                        }

                        td.td-2,th.td-2{
                            width: 40%;
                        }

                        td.td-3,th.td-3{
                            width: 13.3333333%;
                            border-right: 0 none;
                        }

                        td.td-4,th.td-4{
                            width: 13.3333333%;
                            border-right: 0 none;
                        }

                        td.td-5,th.td-5{
                            width: 13.3333333%;
                        }
                        
                        td.td-vigen{
                            border-right: 0 none;
                            color: #9b9b9b;
                            text-align: center;
                        }

                        td.td-price{
                            label{
                                color: $secondary-bg;
                                font-weight: 500;
                            }
                        }

                        td.bg-des, th.bg-des{
                            background: #fafeff;
                        }

                        tbody tr td:first-child{
                            color: $orange-color;
                            font-size: 21px;
                        }

                        @media screen and (max-width: $screen-xs-max){
                            thead tr{
                                display: none;
                            }

                            tbody tr{
                                margin: 0 0 10px;
                                border: 2px solid $border-color-2;
                                border-radius: 10px;
                                cursor: pointer;
                                position: relative;

                                .styled-radio{
                                    position: static;
                                    padding: 0;

                                    .styled-radio-label{
                                        bottom: 15px;
                                        left: 145px;
                                        color: $secondary-bg;
                                        position: absolute;
                                    }

                                    .styled-radio-box{
                                        top: 29px;
                                        right: 19px;
                                    }

                                    .styled-radio-bg{
                                        display: none;
                                    }

                                }

                                &.checked{
                                    border-color: $secondary-bg;
                                    background-color: #fafeff;
                                }

                                td:first-child{
                                    padding-top: 18px;
                                }

                                td.td-vigen{
                                    text-align: left;
                                    padding-bottom: 18px;
                                }

                                td.td-price{
                                    display: inline;
                                    padding: 0;
                                }
                            }

                            tbody tr td{
                                border: 0 none;
                                padding: 6px 33px;
                            }
                            
                            tbody tr, tbody td{
                                display: block;
                            }
                            
                        }
                    }
                    

                }
            }

            .group-btns{
                .btn-yellow{
                    min-width: 268px;
                }
            }
        }
    }

    &.step-2{
        .step-wrapper{
            .step-title{
                h2{
                    font-weight: 400;
                }
            }
        }

        .data-info{
            width: 100%;
            max-width: 482px;
            margin: 0 auto 50px;
            border: 2px solid $border-color-2;
            box-shadow: 0 0 7px 1px $border-color-2;
            border-radius: 10px;

            .data-top{
                padding: 27px 32px;

                @media screen and (max-width: $screen-xs-max){
                    padding: 21px 24px;
                }

                .name{
                    margin: 6px 0 0;
                    float: left;
                    color: $secondary-bg;
                    font-size: 24px;
                    font-weight: 500;

                    @media screen and (max-width: $screen-xs-max){
                        font-size: 21px;
                    }
    
                }

                .lb{
                    margin: 0;
                    float: right;
                    background: $secondary-bg;
                    color: $light-color;
                    font-weight: 400;
                    font-size: 16px;
                    padding: 8px 22px;
                    border-radius: 24px;
                    
                    span{
                        font-weight: 500;
                    }

                    @media screen and (max-width: $screen-xs-max){
                        font-size: 14px;
                    }
                }

                p{
                    clear: both;
                    text-align: left;
                    font-size: 17px;
                    color: $secondary-bg;
                    font-weight: 500;
                    padding: 14px 0;
                    margin: 0;
                    @media screen and (max-width: $screen-xs-max){
                        font-size: 15px;
                    }
                }
                
                .ct-desc{
                    display: block;
                    text-align: left;
                    color: $secondary-color;
                    font-size: 17px;
                    @media screen and (max-width: $screen-xs-max){
                        font-size: 15px;
                    }
                }
            }

            .data-bot{
                border-top: 2px solid $border-color-2;

                .content{
                    text-align: center;

                    label{
                        margin: 0 0 8px;
                        font-size: 17px;
                        font-weight: 500;
                        color: $secondary-bg;
                        display: block;
                    }

                    span{
                        display: block;
                        font-weight: 300;
                        font-size: 24px;
                    }

                    .col-1{
                        float: left;
                        width: 50%;
                        border-right: 2px solid $border-color;
                        padding: 20px;

                        @media screen and (max-width: $screen-sm-min){
                            width: 100%;
                            border-bottom: 2px solid $border-color-2;
                            border-right: 0 none;
                        }

                        @media screen and (max-width: $screen-xs-max){
                            text-align: left;
                            padding: 15px 24px;
                        }
                    }

                    .col-2{
                        float: left;
                        width: 50%;
                        padding: 20px;

                        @media screen and (max-width: $screen-sm-min){
                            width: 100%;
                        }

                        @media screen and (max-width: $screen-xs-max){
                            text-align: left;
                            padding: 15px 24px;
                        }
                    }
                }
            }
        }

        .recargas-form{
            max-width: 770px;
            margin: 0 auto;

            .step-title{
                h2{
                    font-weight: 300;
                    color: $secondary-color;
                }

                &.bot{
                    margin: 0 0 20px;
                }
            }

            .group-box-radio{
                margin: 0 auto 27px;
            }

            .group-btn{
                .btn{
                    display: inline-block;
                }

                .btn-volver{
                    min-width: 188px;

                    @media screen and (max-width: $screen-xs-min){
                        margin: 0 0 20px;
                    }

                }

                .btn-paga{
                    border: 0;
                    background: #00579f;
                    color: $light-color;
                    position: relative;
                    overflow: hidden;
                    padding: 15px 85px 15px 17px;
                    margin-left: 26px;
                    @include default-hover();
                    
                    span.icon{
                        background: url("../images/visa-name-white.png") no-repeat center center scroll #004075;
                        background-size: 42px 14px;
                        display: inline-block;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        width: 68px;
                        right: 0;
                    }

                    @media screen and (max-width: $screen-xs-min){
                        margin-left: 0;
                        margin-bottom: 20px;
                    }
                }

                .btn-paga[disabled]{
                    &:hover,&:focus,&:active{
                        opacity: 0.65;
                    }
                }
            }
        }
    }

    &.step-3{
        .progress-step{
            margin: 0 0 31px;
        }

        .step-title{
            img{
                display: block;
                margin: 0 auto 31px;
            }
            h2{
                color: $secondary-color;
            }
        }

        .shadow-box{
            max-width: 640px;
            padding: 0;
            margin: 0 auto 31px;

            .content{
                &.top{
                    .col-1{
                        float: left;
                        width: 50%;
                        padding: 35px 20px;
                    }

                    .col-2{
                        float: left;
                        width: 50%;
                        padding: 35px 20px;
                    }

                    label{
                        color: $secondary-bg;
                        font-weight: 500;
                        margin: 0 0 8px;
                        display: block;
                    }

                    span{
                        display: block;
                        font-weight: 300;
                        font-size: 24px;
                        color: $secondary-color;
                    }
                }

                &.bot{
                    border-top: 2px dashed $border-color-2;
                    padding: 28px 20px;

                    h4{
                        color: $orange-color;
                        margin: 0 0 10px;
                        font-size: 17px;
                    }

                    p{
                        margin: 0;
                    }

                    a{
                        color: $secondary-color;
                        @include default-hover();
                    }
                }
            }
        }
    }
}