<div class="gico-breadcrumb">
  <div class="container">
    <ol class="breadcrumb">
      <li>
        <a href="#">Trang chủ</a>
      </li>
      <li>
        <a href="#">Sức khỏe làm đẹp</a>
      </li>
      <li class="active">Thực phẩm chức năng</li>
    </ol>
  </div>
</div>
