<nav aria-label="Page navigation" class="gico-pagination">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <i class="gico-icon icon-prev"></i>
      </a>
    </li>
    <li>
      <a href="#">1</a>
    </li>
    <li class="active">
      <a href="#">2</a>
    </li>
    <li>
      <a href="#">3</a>
    </li>
    <li>
      <a href="#">4</a>
    </li>
    <li>
      <a href="#">5</a>
    </li>
    <li>
      <a href="#" aria-label="Next">
        <i class="gico-icon icon-next"></i>
      </a>
    </li>
  </ul>
</nav>
