<header class="header-container {% if bodyClasses == 'cms-index-index' %}home-page{% endif  %}">
    {% if bodyClasses == 'cms-index-index' %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-logo">
                <h1 class="logo">
                    <a href="../index.html" title="Bitel">
                        <img alt="Bitel" src="assets/images/logo.png" />
                    </a>
                </h1>
                <h2 class="sub-text">Bienvenido(a)</h2>
                <h3 class="sub-text">Recargas Bitel</h3>
            </div>
        </div>
    </div>
    {% else %}
    <div class="container">
        <div class="row">
            <div class="col col-logo">
                <h1 class="logo">
                    <a href="../index.html" title="Bitel">
                        <img class="desk" alt="Bitel" src="assets/images/logo.png" />
                        <img class="mobi" alt="Bitel" src="assets/images/logo-mobi.png" />
                    </a>
                </h1>
            </div>
            <div class="col col-nav">
                <ul class="nav-bar">
                    <li class="nav-mi {% if bodyClasses == 'cms-index-index' %}active{% endif  %}">
                        <a href="../index.html" title="Mi Bitel"><span>Mi Bitel</span></a>
                    </li>
                    <li class="nav-rec {% if bodyClasses == 'recargas-index-index' %}active{% endif  %}">
                        <a href="../realiza-recargas.html" title="Realiza Recargas"><span>Realiza Recargas</span></a>
                    </li>
                    <li class="nav-com {% if bodyClasses == 'compra-index-index' %}active{% endif  %}">
                        <a href="../compra-paquetes.html" title="Compra paquetes"><span>Compra paquetes</span></a>
                    </li>
                    <li class="nav-ade {% if bodyClasses == 'adelanto-index-index' %}active{% endif  %}">
                        <a href="../adelanto-de-saldo.html" title="Adelanto de saldo"><span>Adelanto de saldo</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endif  %}
</header>
