//## Bootstrap
//
// Core bootstrap variables and mixins
$img-path: "../images";
$font-path: "../fonts";
$icon-path: "../images/icons";
$primary-color: #4cb9ca;
$text-color: #808080;
$secondary-color: #4a4a4a;
$tertiary-color: #bababa;
$border-color: #bababa;
$border-color-2: #e1e1e1;
$light-color: #fff;
$dark-color: #000;
$body-background: #eeeeee;
$secondary-bg: #129ea2;
$yellow-color: #fee945;
$orange-color: #F5A623;
$red-color: #ff0000;

$body-font: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

@import "bootstrap-override";
